config.ini
/.idea/
/datas/
/venv/
/OLD/
/__pycache__/
reponses.txt
reponses2.txt
reponses3.txt
reponses4.txt
reponses5.txt
donnees.csv
scores.csv
/Résultats/
/Statistiques/de_png/
/Statistiques/resultat.png
/Statistiques/fusion_de.png
/Statistiques/de_images_matrices/
/Statistiques/de_niveau_gris/
.vscode/settings.json
/EvaluationAutomatique/tableaux_bases_de_cas.py
/Kavallieratou/barb_0001-4133_1920_num_6_1_T1_0035_0000/
/Kavallieratou/barb_0001-4133_1920_num_6_1_T1_0417_0000/
/Kavallieratou/barb_0001-4141_1910_num_12_1_F_0002_0000/
/Kavallieratou/rnord_0035-2624_1989_num_71_282_T1_0687_0000/
/Kavallieratou/rnord_0035-2624_1991_num_73_290_T1_0436_0000/
/Kavallieratou/rnord_0035-2624_1994_num_76_306_T1_0471_0000/
/Kavallieratou/rnord_0035-2624_1994_num_76_306_T1_0564_0000/
