config.ini
/.idea/
/datas/
/venv/
/OLD/
/__pycache__/
reponses.txt
reponses2.txt
reponses3.txt
reponses4.txt
reponses5.txt
donnees.csv
scores.csv
/Résultats/
/Statistiques/de_png/
/Statistiques/resultat.png
/Statistiques/fusion_de.png
/Statistiques/de_images_matrices/
/Statistiques/de_niveau_gris/
.vscode/settings.json
/EvaluationAutomatique/tableaux_bases_de_cas.py