config.ini
/.idea/
/datas/
/venv/
/OLD/
/__pycache__/
reponses.txt
reponses2.txt
reponses3.txt
reponses4.txt
donnees.csv
scores.csv
/Résultats/
/pour_ICCBR/de_png/
/pour_ICCBR/resultat.png
/pour_ICCBR/fusion_de.png
/pour_ICCBR/de_images_matrices/
/pour_ICCBR/de_niveau_gris/
